{% extends "index.html" %}
{% load staticfiles %}

{% block content%}

 <div class="container">
   <div class="row">
    <div class="col-md-2">

<!-- Dropdown -->

{% for name_part_data in wiki_tree %}
        <div class="dropdown">

            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-default fall" data-target="#" href="">
              {{ name_part_data.name_part.title }} <span class="caret"></span>
            </a>

    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          {% for rozdil_data in name_part_data.rozdil_list %}
              <li class="dropdown-submenu">

                <a tabindex="-1" href="#">{{ rozdil_data.rozdil.title }}</a>
                <ul class="dropdown-menu">

                  {% for stat_data in rozdil_data.stat_list %}
                  <li><a href="{{ stat_data.get_absolute_url }}">{{ stat_data.name }}</a></li>
                  {% endfor%}
                </ul>

              </li>
              {% endfor%}
            </ul>

        </div>
        {% endfor%}







<!-- End Dropdown -->




    </div>

  <div class="col-md-10">
<div class="panel-group collapsed" id="accordion1">
    <h3>{{ details.name | safe }}</h3>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="collapsed">
                      <h4>  Опис роботи </h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    {{ details.robota | safe }}
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="collapsed">
                      <h4>Опис установки</h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    {{ details.opus_ustanovku | safe }}
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="collapsed">
                      <h4>Загальна будова</h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    {{ details.zag_bund | safe }}
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" class="collapsed">
                      <h4>  Тактико технічні характеристики</h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    {{ details.tth | safe }}
                    </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" class="collapsed">
                      <h4>   Технічне обслуговування</h4>
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    {{ details.teh_obslug | safe }}
                  </div>
                </div>
              </div>
            </div>


          </div>


            </div>

        </div>
{% endblock%}
