{% extends "index.html" %}

      
{%block name %} 
<div class="page-header">
 <h3> {{details.name}}</h3>  
</div>  
{% endblock%} 

{% block content %}

<img src="{{ details.image.url }}" class="img-responsive" alt="Cinque Terre">

<div class="page-header">
 <h3> Опис роботи</h3>
</div> {{ details.robota | safe }} 

<div class="page-header">
 <h3> Опис установки</h3>
</div> {{ details.opus_ustanovku | safe }} 


<div class="page-header">
 <h3> Загальна будова</h3>
</div> {{ details.zag_bund | safe }} 


<div class="page-header">
 <h3> Тактико технічні характеристики</h3>
</div> {{ details.tth | safe }} 

<div class="page-header">
 <h3> Технічне обслуговування</h3>
</div> {{ details.teh_obslug | safe }} 

{% endblock %}
